@model Rectify.Models.ViewModels.CompanyViewModel
@{
    ViewData["Title"] = "Add Company";
    Layout = "_Layout";
}
<head>
    <link href="~/css/mobile.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/Buttons.css" rel="stylesheet" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>

</head>

<div class="container">
    <div class="box">
        <form asp-action="AddCompany" asp-controller="Account" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="CompanyName" class="form-label"></label>
                <input asp-for="CompanyName" class="form-control" required />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="City" class="form-label"></label>
                <input asp-for="City" class="form-control" required />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="BranchAddress" class="form-label"></label>
                <input asp-for="BranchAddress" class="form-control" required />
                <span asp-validation-for="BranchAddress" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LogoImageFile" class="form-label"></label>
                <input asp-for="LogoImageFile" type="file" class="form-control" accept="image/*" />
                <span asp-validation-for="LogoImageFile" class="text-danger"></span>
            </div>

            <input type="submit" value="Add Company" class="btn btn-outline-pink" />

            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
