@using Rectify.Models;
@using Rectify.Models.ViewModels;
@model LoginViewModel;


@{
    ViewData["Title"] = "Login";
    Layout = "_AccountLayout";
}

<head>
    <style>
        .form-control:focus {
            border-color: #ff1493;
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba(255, 20, 147, 0.25);
        }

    </style>
</head>

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Login</h2>
        <form asp-action="Login" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="float-end">
                <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none">
                    Forgot Password?
                </a>
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input asp-for="RememberMe" class="form-check-input" />
                    @Html.DisplayNameFor(a => a.RememberMe)
                </label>
            </div>
            <input type="submit" value="Login" class="btn btn-pink w-100 p-2"/>

            
        </form>
        <div class="text-center mt-3">
            <a class="btn btn-outline-dark w-100" href="@Url.Action("ExternalLogin", "Account", new { provider = "Google", returnUrl = "/" })">
                <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" width="20" class="me-2" />
                Sign in with Google
            </a>
        </div>

        <p class="text-center mt-2">
            Register Business? <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Register</a>
        </p>

        <div class="text-center">
            <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
        </div>


    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}