<head>
    <style>
        .greyscale {
            filter: grayscale(100%);
        }

    </style>
</head>


<div class="row align-items-center mb-5 ">
    <div class="col-md-6 greyscale">
        <h2 class="fw-semibold">👔 For Business Owners</h2>
        <p>Running a great business means listening to your customers. <strong>Rectify</strong> helps you:</p>
        <ul class="list-unstyled">
            <li>✅ Hear directly from customers</li>
            <li>✅ Resolve issues quickly</li>
            <li>✅ Retain customer loyalty</li>
        </ul>
        <p>It's all about real feedback, direct action, and a better business model.</p>
    </div>
    <div class="col-md-6 text-center">
        <img src="~/images/CustomerFeedback.png" class="img-fluid" alt="Customer Giving Feedback" style="width: 380px; height: 400px;">
    </div>
</div>

<div class="row align-items-center mb-5 flex-md-row-reverse">
    <div class="col-md-6 greyscale">
        <h2 class="fw-semibold">🗣️ For Customers</h2>
        <p>Rectify is a customer empowerment channel.
            <strong>Your voice matters</strong></p>
        <ul class="list-unstyled">
            <li>✅ Scan a QR code to give feedback</li>
            <li>✅ Message goes directly to the business owner</li>
            <li>✅ No middlemen, no forms, no frustration</li>
        </ul>
        <p>Whether it's praise or a complaint, your message makes a difference.</p>
    </div>
    <div class="col-md-6 text-center">
        <img src="~/images/OwnerFeedback.png" class="img-fluid" alt="Business Owner Feedback" style="width: 380px; height: 400px;">
        
    </div>
</div>
